@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre&display=swap');    /* Headings */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');             /* paragraphs */

body {
  width: 100vw;
  overflow-x: hidden;
  cursor: none;
}

/* ***********************************Announcements************************************** */

.announcement_section {
  position: relative;
  top: 103vh;
  background: #f8f8f8;
  height: 47vh;
}

.heading {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: 'Averia Serif Libre', cursive;
}

.heading>h1 {
  color: #1B2F6E;
  font-size: 3.3em;
}

.heading>div {
  background: #868ea7;
  height: 0.8px;
  width: 43%;
  margin-left: -10%;
  margin-right: 15%;
}

.announcementBox {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 90%;
  margin: 0 auto;
  margin-right: 6%;
}

.announcement {
  border: 1px solid #868ea7b8;;
  width: 30%;
  margin: 0 3%;
  padding: 1%;
  font-size: 20px;
  font-family: 'Noto Sans', sans-serif;
  font-size: 18px;
}

.announcement>span {
  color: #878991;
}

.announcement>p>a {
  text-decoration: none;
  color: black;
}

.announcement>p>a:hover {
  text-decoration: underline;
}

/* ***********************************CARDS************************************** */

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  height: 100vh;
  justify-content: space-around;
}

.box {
  width: 250px;
  height: 250px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.288);
  border-radius: 23px;
  flex-direction: column;
  color: rgb(0, 0, 0);
  position: relative;
  overflow: hidden;
  margin-bottom: 3%;
  margin-top: 2%;
  margin-right: 5%;
}

.box img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

.card-text {
  text-align: center;
}

.user_name {
  margin-bottom: 16px;
  font-size: 2rem;
  margin-top: 5%;
}

.skill {
  color: #0f2027;
  margin-top: -3%;
}

.arr_container,
.cancel {
  position: absolute;
  bottom: 0;
  right: 0;
  background: white;
  color: rgb(70, 70, 70);
  width: 50px;
  height: 50px;
  border-radius: 23px 0 23px 0;
  font-size: 1.6rem;
  cursor: pointer;
  transition: all 0.45s;
}

#cross {
  bottom: 6%;
  right: 5%;
}

.arr_container>.fas {
  transform: rotate(45deg);
}

.left_container {
  position: absolute;
  background: #0f2027;
  width: 93%;
  height: 100%;
  border-radius: 40px;
  padding: 40px 20px 0 20px;
  transition: all 0.4s;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  left: -2.5%;
}

.left_container_data {
  position: absolute;
  top: 9%;
  left: 9%;
}

.off {
  transform: translate(-74%, -72%) rotate(90deg);
}

.active {
  transform: translate(0) rotate(0);
}

.left_container p {
  margin-top: 15px;
  font-size: 1.2rem;
  color: #cfcfcf;
}


.left_container .skills div {
  display: inline-block;
  color: rgb(155, 155, 155);
  border: 1px solid rgb(155, 155, 155);
  padding: 5px 10px;
  font-size: 0.9rem;
  margin: 4px 4px 4px 0;
}

.faculty_left_container_data {
  /* faculty's Left Container*/
  left: 13%;
}

.left_container .areas div {
  margin: -2px -6px 5px 1px;
}

.faculty_left_container_data>p {
  margin-top: 10px;
  margin-bottom: 13%;
}

#f_cross {
  bottom: 7%;
  right: 2%;
}

.left_container .icons {
  font-size: 1.6rem;
  margin-top: 15px;
}

.left_container .icons>.fab {
  color: #CFCFCF;
  cursor: pointer;
  margin-right: 10px;
  transition: all 0.45s;
}

.left_container .icons>.fab:hover {
  color: #2C5364;
}

.findMore {
  margin-top: 4%;
  transition: all 0.45s;
}

.findMore>a {
  text-decoration: none;
  color: #cfcfcf;
}

.findMore>a>svg {
  position: relative;
  top: 13%;
  right: 0;
}

.findMore:hover {
  transform: translateX(1em);
}